.menu {
  width: 200px;
  padding-bottom: 8px;
  .item {
    display: inline-flex;
    width: 100%;
    justify-content: start;
    margin-left: 0 !important;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--text-color);

    &:hover {
      background-color: #e9e3e3;
    }
  }
}

.menuPopover {
  padding-bottom: 8px;
}
